$color-primary: #c3d500;
$color-secondary: #F39C12;
$color-tertiary: #393939;

$color-primary-darker: darken($color-primary, 20%);
$color-secondary-darker: darken($color-secondary, 20%);
$color-tertiary-darker: darken($color-tertiary, 20%);

$background-color: #222222;

$font-primary: "Trebuchet MS", Helvetica, sans-serif;
