.search-bar {
    margin: 200px auto 50px;
    overflow: auto;
    width: 80%;
 
    &__input {
        float: left;
        position: relative;
        width: 60%;
    }

    &__button {
        float: left;
        text-align: center;
        width: 40%;
    }
}
