@import 'sass/globals';

.single-result {
    background-color: $color-tertiary;
    box-sizing: border-box;
    color: $color-primary;
    cursor: pointer;
    float: left;
    margin: 0.5%;
    padding: 5px;
    width: 24%;

    @include transition(0.2s background-color ease-in-out);

    &__duration{
        padding: 5px 0px;
        font-size: 18px;
    }

    &:hover{
        background-color: lighten($color-tertiary, 20%);
    }

    &--selected{
        outline: 3px solid $color-primary;
    }

}
