$color-primary: #87D37C;
$color-secondary: #F39C12;
$color-tertiary: #393939;

$color-primary-darker: darken($color-primary, 20%);
$color-secondary-darker: darken($color-secondary, 20%);
$color-tertiary-darker: darken($color-tertiary, 20%);
