.icon {

    &.clean-search {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 13px;
    }

    &-in-button {
        float: left;
        margin-right: 10px;
    }
}
