@import 'sass/globals';

$input-color: white;
$input-height: 40px;

.input {
    background-color: $color-tertiary;
    border: none;
    box-sizing: border-box;
    color: $input-color;
    font-size: 16px;
    height: $input-height;
    line-height: $input-height;
    padding: 0px 35px 0px 15px;

    &:focus {
        outline-color: $color-primary;
    }

    &.search {
        width: 100%;
    }

    &--radio {
        height: 20px;
        vertical-align: middle;

        &:focus {
            outline: none;
        }
    }
}
