@import 'components/variables';

$input-height: 40px;
$input-color: white;

.input{
    height: $input-height;
    line-height: $input-height;
    padding-left: 15px;
    font-size: 16px;
    background-color: $color-tertiary;
    color: $input-color;
    border: none;
    &:focus{
        outline-color: $color-primary;
    }
}
