@import 'sass/globals';

$input-color: white;
$input-height: 40px;

.input {
    background-color: $color-tertiary;
    border: none;
    color: $input-color;
    font-size: 16px;
    height: $input-height;
    line-height: $input-height;
    padding-left: 15px;
    &:focus{
        outline-color: $color-primary;
    }
}
