@import 'sass/globals';

.thumbnail {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    opacity: 1;

    @include transition(0.2s opacity ease-in-out);

    &--loading {
        opacity: 0
    }
}
